.movieDetailsImg {
  margin-bottom: 10px;
}
.movieDetailsName {
  margin-bottom: 10px;
}
.movieDetailsDescription {
  margin-bottom: 10px;
}

.list {
  display: flex;
  // justify-content: start;
  align-items: center;
  padding: 10px 10px 20px;
  margin: 0px;
  list-style: none;
  border-bottom: 2px solid gray;
}

.navigationItem {
  &:first-child {
    margin-right: 10px;
  }
  /* padding: 14px 20px 20px 20px; */
}

.link {
  display: inline-block;
  border-radius: 5px;
  padding: 5px 20px;
  font-size: 22px;
  text-decoration: none;
  // margin: 20px;
  color: white;
  background: #55acee;
  box-shadow: 0 5px 0 #3c93d5;
  transition: 0.3s;
}

.activeLink {
  composes: link;
  color: #d12d5e;
}
